@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli' , sans-serif;
  line-height: 1.2;
  color: #606060;
  background: #ffffff;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}

.topheader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: #2196f3;
  padding: 0 15%;
  height: 50px;
  line-height: 50px;
}

.topheader .thead__left ul li {
  display: inline;
  color: #ffffff;
  margin: 0 10px;
}

.topheader .thead__left ul li i {
  margin-right: 5px;
}

.topheader .thead__right {
  text-align: right;
}

.topheader .thead__right ul.social-icons {
  clear: right;
  float: right;
  margin: 8px 8px 0;
  position: relative;
}

.topheader .thead__right ul.social-icons li {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url(../../img/social.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  display: inline-block;
  margin: -1px 1px 5px 0;
  padding: 0;
  border-radius: 2px;
  overflow: visible;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  height: 30px;
  width: 30px;
}

.topheader .thead__right ul.social-icons li a {
  text-indent: -9999px;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.topheader .thead__right ul.social-icons li.googleplus {
  background-position: 0 -330px;
}

.topheader .thead__right ul.social-icons li.googleplus:hover {
  background-position: 0 -300px;
}

.topheader .thead__right ul.social-icons li.facebook {
  background-position: 0 -150px;
}

.topheader .thead__right ul.social-icons li.facebook:hover {
  background-position: 0 -120px;
}

.topheader .thead__right ul.social-icons li.twitter {
  background-position: 0 -1170px;
}

.topheader .thead__right ul.social-icons li.twitter:hover {
  background-position: 0 -1140px;
}

.topheader .thead__right ul.social-icons li.pinterest {
  background-position: 0 -810px;
}

.topheader .thead__right ul.social-icons li.pinterest:hover {
  background-position: 0 -780px;
}

.topheader .thead__right ul.social-icons li.rss {
  background-position: 0 -930px;
}

.topheader .thead__right ul.social-icons li.rss:hover {
  background-position: 0 -900px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  height: 90px;
}

header a.logo {
  background: url(../../img/logo.jpg) no-repeat center;
  height: 80px;
  width: 220px;
  display: block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  padding: 36px 12px;
  background-color: #ffffff;
}

header nav ul li a:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slider .carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider .carousel .carousel__item {
  outline: none !important;
}

.slider .carousel .carousel__item img {
  width: 100%;
  height: 100%;
  display: block;
}

.slider .carousel .slick-arrow {
  position: absolute;
  top: 45%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  height: 42px;
  line-height: 42px;
  text-align: center;
  width: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: #2196f3;
  z-index: 10;
  cursor: pointer;
}

.slider .carousel .slick-arrow:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.slider .carousel .left {
  left: 7%;
}

.slider .carousel .right {
  right: 7%;
}

.line {
  background: #2196f3;
  position: relative;
  height: 7px;
  -webkit-animation: runwidth 6s infinite;
          animation: runwidth 6s infinite;
}

@-webkit-keyframes runwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes runwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.banner {
  position: relative;
  background-color: #2196f3;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px 70px;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  z-index: 100;
}

.banner .banner__title {
  width: 30%;
  padding: 20px 40px 20px 0px;
  text-align: center;
}

.banner .banner__title h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

.banner .banner__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 70%;
  grid-gap: 50px 30px;
  text-align: center;
}

.banner .banner__content .banner__item {
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
}

.banner .banner__content .banner__item .banner__img {
  width: 50px;
  display: inline-block;
}

.banner .banner__content .banner__item .banner__img img {
  width: 100%;
  display: block;
}

.banner .banner__content .banner__item p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 30px;
}

.banner .banner__content .bg-color-1 {
  background-color: #4886ff;
}

.banner .banner__content .bg-color-2 {
  background-color: #b5d56a;
}

.banner .banner__content .bg-color-3 {
  background-color: #ff6f6f;
}

.banner .banner__content .bg-color-4 {
  background-color: #ffb229;
}

.banner .banner__content .bg-color-5 {
  background-color: #c70000;
}

.banner .banner__content .bg-color-6 {
  background-color: #e91e63;
}

.banner .banner__content .bg-color-7 {
  background-color: #673ab7;
}

.banner .banner__content .bg-color-8 {
  background-color: #ff5722;
}

.tintucvasukien {
  padding: 0 0 70px;
}

.tintucvasukien .tintucvasukien__title {
  text-align: center;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 20px;
}

.tintucvasukien .tintucvasukien__title h1 {
  font-size: 44px;
  line-height: 44px;
  color: #000000;
}

.tintucvasukien .tintucvasukien__title .separator {
  background: #606060 none repeat scroll 0 0;
  display: block;
  bottom: 20px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 4%;
}

.tintucvasukien .tintucvasukien__title .separator::before {
  background-color: #606060;
  bottom: 5px;
  content: "";
  height: 1px;
  left: -20px;
  margin: 0 auto;
  position: absolute;
  right: -20px;
}

.tintucvasukien .tintucvasukien__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  grid-column-gap: 30px;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item {
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  border-radius: 5px;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item:hover .tintucvasukien__detail {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__img {
  height: 220px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__detail {
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 15px 20px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__detail h3 {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: auto;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 14px 0;
  color: #262626;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__detail h3:hover {
  color: #2196f3;
}

.tintucvasukien .tintucvasukien__content .tintucvasukien__item .tintucvasukien__detail p {
  line-height: 1.5;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.about {
  background: #252525;
  padding: 70px 0;
}

.about .about__title {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.about .about__title h1 {
  font-size: 44px;
  line-height: 44px;
}

.about .about__title .separator {
  background: #606060 none repeat scroll 0 0;
  bottom: 20px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 4%;
}

.about .about__title .separator:before {
  background-color: #606060;
  bottom: 5px;
  content: "";
  height: 1px;
  left: -20px;
  margin: 0 auto;
  position: absolute;
  right: -20px;
}

.about .about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 80%;
  grid-column-gap: 20px;
  margin: auto;
}

.about .about__content .about__item {
  position: relative;
  padding: 30px;
  background: #000000;
  color: #ffffff;
}

.about .about__content .about__item h5 {
  font-size: 24px;
  line-height: 27px;
  margin: 0 0 14px 0;
}

.about .about__content .about__item h3 {
  font-size: 44px;
  line-height: 44px;
}

.about .about__content .about__item i {
  bottom: 10px;
  font-size: 70px;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  color: #ec7532;
}

.teacher {
  padding: 70px 0;
  background-color: #eee;
}

.teacher .teacher__title {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.teacher .teacher__title h1 {
  font-size: 44px;
  line-height: 44px;
  color: #000000;
}

.teacher .teacher__title .separator {
  background: #606060 none repeat scroll 0 0;
  display: block;
  bottom: 20px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 4%;
}

.teacher .teacher__title .separator::before {
  background-color: #606060;
  bottom: 5px;
  content: "";
  height: 1px;
  left: -20px;
  margin: 0 auto;
  position: absolute;
  right: -20px;
}

.teacher .teacher__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  width: 80%;
  margin: auto;
}

.teacher .teacher__content .teacher__item {
  margin-top: 60px;
  padding-bottom: 0;
  overflow: visible;
  border: 1px solid;
  border-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
}

.teacher .teacher__content .teacher__item:hover .teacher__img img {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.teacher .teacher__content .teacher__item .teacher__img img {
  -webkit-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: -60px;
}

.teacher .teacher__content .teacher__item .teacher__detail {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
}

.teacher .teacher__content .teacher__item .teacher__detail p {
  line-height: 1.5;
}

.contact .map {
  background-color: #2196f3;
  padding: 10px;
}

.contact .map iframe {
  width: 100%;
  height: 400px;
}

.feedback {
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../img/bg-01.jpg) no-repeat top left/cover;
}

.feedback:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.feedback .feedback__content {
  width: 70%;
  margin: auto;
  display: block;
}

.feedback .feedback__content .feedback__item {
  margin: 0 20px;
  outline: none !important;
}

.feedback .feedback__content .feedback__item .quote-wrap {
  color: #fff;
}

.feedback .feedback__content .feedback__item .quote-wrap blockquote {
  height: 140px;
  margin-bottom: 0;
  padding: 50px;
  background: #252525 none repeat scroll 0 0;
}

.feedback .feedback__content .feedback__item .quote-wrap .quote-author img {
  border: 6px solid #f1f1f1;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 20px;
  margin-top: -32px;
  position: relative;
}

.feedback .feedback__content .feedback__item .quote-wrap .quote-author .quote-footer h5 {
  font-size: 24px;
  line-height: 27px;
  margin: 0 0 14px 0;
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}

.feedback .feedback__content .feedback__item .quote-wrap .quote-author .quote-footer h5 a {
  color: #ffffff;
}

.feedback .feedback__content .feedback__item .quote-wrap .quote-author .quote-footer span {
  color: #ddd;
}

.feedback .feedback__content .slick-arrow {
  display: none !important;
}

.feedback .feedback__content .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback .feedback__content .slick-dots li {
  height: 11px;
  width: 11px;
  background-color: #000000;
  margin: 0 5px;
}

.feedback .feedback__content .slick-dots li button {
  display: none;
}

.feedback .feedback__content .slick-dots li.slick-active {
  height: 14px;
  width: 14px;
  background-color: #2196f3;
}

footer {
  position: relative;
  margin-top: 50px;
}

footer .footer__top {
  background: url(../../img/sep-cloud.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 120px;
  width: 100%;
}

footer .footer__content {
  color: #ffffff;
  background: #252525;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 40px;
  padding: 20px 10% 40px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer .footer__content .footer__item {
  position: relative;
}

footer .footer__content .footer__item a.logo-footer {
  margin-bottom: 20px;
  color: #2196f3;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

footer .footer__content .footer__item h2 {
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 20px 0;
}

footer .footer__content .footer__item h2:hover {
  color: #2196f3;
}

footer .footer__content .footer__item ul li {
  color: #969696;
  margin: 10px 0;
}

footer .footer__content .footer__item ul li:hover {
  color: #2196f3;
}

footer .footer__content .footer__item p {
  color: #969696;
}

footer .footer__content .footer__item .form-group {
  display: inline-block;
  margin-top: 20px;
}

footer .footer__content .footer__item .form-group .form-control {
  width: 300px;
  background: #303030;
  position: relative;
  z-index: 2;
  float: left;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 16px;
  padding: 6px 42px 6px 12px;
  border: none;
  display: inline-block;
  height: 60px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

footer .footer__content .footer__item .form-group .btn-submit {
  background-color: #2196f3;
  color: #ffffff;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
}

footer .footer__content .footer__item .form-group .btn-submit:hover {
  background-color: #eee;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */